
//
// VARIABLES
//

// Colors
$blue: #FFFFFF;

// Grays
$black: #120900;
$darkerGray: #222;
$darkGray: #222;
$gray: #222;
$lightGray: rgb(255, 204, 150);
$white: #FFB567;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}